@if $use-styleguide == true{

/*------------------------------------*\
    $STYLEGUIDE
\*------------------------------------*/
/**
 * These are classes/overrides to make the style guide look nice,
 * not used anywhere else but /demo.
 */


/**
 * Default
 */

body{
	background: $softWhite;
}

// code examples  
.code, .code.prettyprint {
	border: 1px solid $warmGrayLighter;
	background: rgba($warmGrayLightest, .5);
	max-width: 60rem;
	padding: $base-spacing-unit;
}
pre {
	white-space: normal;
}



/**
 * Navigation
 */
 
.styleguide__nav{
	padding-left: 24px;
	
	ul{
		border-bottom: 1px solid #e2dedb;
	}
}


// subnav for each part of the guide
.styleguide__subnav{
	background-color: rgba($white, .85);
	
	position: fixed;
	left: -999px;
	z-index: 1002;
	
	@include vendor(transition, .7s ease-in-out);
	
	a:hover{
		background-color: lighten($blue, 50%);
		color: $black;
	}
	
	> ul > li {
		@extend .gamma;
		
		> ul{
			@extend .epsilon;
		}
	}
	
	li > ul {
		margin-left: $half-spacing-unit;
	}
	
	@include media-query(desk){
		background-color: transparent;
		left: 0;
	}
}

.nav--show{
	left: 0;
}

// currently selected section
.current{
	background-color: lighten($blue, 40%);
}

// back to top link styling
.backtotop{
	display: inline-block;
	position: fixed;
	bottom: .5rem;
	left: 0;	
	z-index: 1001;
	
	&:before{
		color: $blue;
	}
	&:hover{
		color: lighten($blue, 10%);	
		@extend %transition;
	}
}

// keep menu button fixed
.menu__button{
	color: $blue;

	position: fixed;
	left: 0;
	top: 0;
	z-index: 2001;
	
	&:hover{
		color: lighten($blue, 10%);	
		@extend %transition;
	}

	@include media-query(desk){
		left: -9999px;
	}	
}




/**
 * Sections
 */

// header
.header-hed{
	position: relative;
	
	h1{
		margin-bottom: 0;
	}
}

.subtitle{
	@media screen and (min-width: 768px){
		position: absolute;
		left: 20rem;
		top: 35%;
	}
}

// container for the the content
.content--guide{
	margin: 3rem 3.5rem 0;
	
	// space for left nav
	@include media-query(desk){
		margin-left: 250px;
	}
}

section{
	.style-guide &{ // space between the sections in the style guide
		border-bottom: 1px solid $warmGrayLighter;
		margin-bottom: $base-spacing-unit * 2;
		padding-bottom: $base-spacing-unit;		
		
		& section {
			border-bottom: none;
			margin-bottom: inherit;
			padding-bottom: inherit;
		}
	}

	
	&#components__forms form{ // space between example forms
		margin-bottom: $base-spacing-unit;
	}
}


// notes
.notes--guide{
	@include callout-box(lighten($greenLight, 15%), desaturate($greenLight, 25%));
	@include vendor(border-radius, $brand-round);
	margin-bottom: $base-spacing-unit;
	max-width: 60rem;
	
	p:last-child{
		margin-bottom: 0;
	}
}



/**
 * Details
 */

// subtitle styling
.subtitle{
	& span{
		display: inline-block;
	}
}

// colors demo "paint chips"; courtesy of BFoo :)
.color-block {
	padding: $half-spacing-unit;
	margin-right: 6px;
	font-size: 16px;
	float: left;
}

// a little space on the headings in the palette
#palette h3{
	margin-bottom: 0;
	padding: $base-spacing-unit 0 $half-spacing-unit;
}

// highlight the open questions 
.open-issue {
	background: yellow;
}


}//endif 
