@if $use-styleguide == true{

/*------------------------------------*\
    $STYLEGUIDE
\*------------------------------------*/
/**
 * These are classes/overrides to make the style guide look nice,
 * not used anywhere else but /demo.
 */


// fixed nav for the style guide
.guidenav {
	position: fixed;
	
	li > ul {
		margin-left: $half-spacing-unit;
	}
}

// notes
.guide-notes{
	@include callout-box(lighten($greenLight, 15%), desaturate($greenLight, 25%));
	@include vendor(border-radius, $brand-round);
	margin-bottom: $base-spacing-unit;
	max-width: 60rem;
}

// code examples  
.code, .code.prettyprint {
	border: 1px solid $warmGrayLighter;
	background: rgba($warmGrayLightest, .5);
	max-width: 60rem;
	padding: $base-spacing-unit;
}
pre {
	white-space: normal;
}

// notes for discussion with the unicorns 
.unicorns {
	background: yellow;
}

// colors demo "paint chips"; courtesy of BFoo :)
.color-block {
	padding: $half-spacing-unit;
	margin-right: 6px;
//	margin-bottom: 24px;
//	display: inline-block;
	font-size: 16px;
}

// space between example forms
section#forms form{
	margin-bottom: $base-spacing-unit;
}


}//endif 
