/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */

$base-font-family:	"Lato Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */


// Config
// -------------------------
$fontPath:              "../fonts/";
$imgPath:               "../img/";


/*------------------------------------*\
    COLORS
\*------------------------------------*/
// Primary palette colors
// -------------------------
$red:					#d62828;
$orange:				#f0731f;
$green:					#acb737;
$blue:					#0090c4;
$purple:				#aa137e;

// Secondary palette colors
// -------------------------
$redDarkest:			#690b0b;
$redDarker:				#9c191e;
$pink:					#ff5b64;
$salmon:				#fd986c;

$orangeDarkest:			#89380b;
$orangeDarker:			#c9491a;
$yellow:				#ffac1e;
$yellowLight:			#fbb55d;

$greenDarkest:			#645723;
$greenDarker:			#858434;
$greenNeon:				#ece94c;
$greenLight:			#dbdf92;

$indigo:				#3c3449;
$blueDarker:			#015d90;
$blueNeon:				#7edcdb;
$blueLight:				#c2e7df;

$purpleDarkest:			#5b2439;
$purpleDarker:			#7f2352;
$purpleNeon:			#eb4197;
$purpleLight:			#eaa7ae;

// Cool grays
// -------------------------
$coolGrayDarkest:		#62656c;
$coolGrayDarker:		#858e95;
$coolGray:				#acb1b7;
$coolGrayLighter:		#cbccd0;
$coolGrayLightest:		#dedede;

// Warm grays
// -------------------------
$warmGrayDarkest:		#5e564b;
$warmGrayDarker:		#7d7872;
$warmGray:				#a29d97;
$warmGrayLighter:		#c5c2bb;
$warmGrayLightest:		#e2dedb;


$white:					#ffffff;
$black:					#222222;

/*------------------------------------*\
    FONTS
\*------------------------------------*/
// Typography
// -------------------------
$mainFontFamily:        "Lato Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$heavyFontFamily:       "Lato Black", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$iconFontFamily:        "Icomoon";
$baseFontFamily:        $mainFontFamily;
$headingsFontFamily:    $heavyFontFamily;
$headingsFontWeight:    normal;
$headingsColor:         inherit;
$headingsTransform:     uppercase;

// Icon font
// -------------------------
$iconFontFamily:        "Icomoon";



/*------------------------------------*\
    BASE BRANDING SETTINGS
\*------------------------------------*/
// Base application color settings
// -------------------------
$bodyBackground:        $white;
$textColor:             $black;
$bodyBackgroundInverse: $white;
$textColorInverse:      $black;

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        lighten($linkColor, 10%);
$linkInverseColor:      $warmGrayLightest;
$linkInverseColorHover: lighten($linkInverseColor, 10%);