/*------------------------------------*\
    $NYPL-DEFAULTS
\*------------------------------------*/
/**
 * Start with the HTML elements.
 */
body{
	color: $black;
	padding: $base-spacing-unit;
}

a{
	color: $black;
	&:visited {
		color: $black;
	}
	&:hover {
		color: $blue;
	}
}


/*------------------------------------*\
    $NYPL-BUTTONS
\*------------------------------------*/
/**
 * This is what our calls-to-action buttons look like.
 */
 
.btn{
	color: $white;
 	@extend .btn--natural; /* NOTE TO SELF: i think this is the style we want to be the default? */
	@include vendor (transition, all, 0.15s);
	
	&:hover {
		background: lighten(/* $beautons */$btn-color, 10%);
	}
}

button{
	@extend .btn;
}


/*
@mixin btn-color (context, color)
if donate then $__
if buy ticket then $__
if regular call-to-action then $__
*/



/*------------------------------------*\
    $NYPL-DESIGN-PATTERNS
\*------------------------------------*/
/**
 * This is what our calls-to-action buttons look like.
 */
 
/* category hed above a pattern */ 
.hed--category{
    width: 100%;
    display: block;
    color: $blue;
    text-transform: uppercase;
    font-size: .9rem;
}
 
 
    

.nobullet{
	list-style: none;
}

.list--tier {
	margin-left: 0;
}

 
/** 
 *
 * ANY CLASSES THAT REFER TO SECTION-SPECIFIC PATTERNS
 * (LIKE JUST SOMETHING USED IN SUPPORT, OR EVENTS, ETC.)
 * SHOULD GO INTO A PARTIAL IN THEIR OWN SUBDIRECTORY
 * (EX. /NYPLBASE/EVENTS/
 */
