/*------------------------------------*\
    $NYPL-DEFAULT
\*------------------------------------*/

/**
 * All the single HTML elements, put your hands up.
 */
 
body{
	color: $black;
	padding: $base-spacing-unit;
}

a{
	color: $black;
	@extend %transition !optional;
	
	&:visited{
		color: $black;
	}
	
	&:hover{
		color: $blue;
	}
}

blockquote{
	border-left: 5px solid $base-ui-color;
	padding: $half-spacing-unit $base-spacing-unit;
	text-indent: 0;
}

code{
	color: $purple;
}

figure{
	background: $warmGrayLightest;
	padding: $half-spacing-unit;
}

figcaption{
	@extend .zeta;
	margin-top: $half-spacing-unit;
}

// if a hed contains a link, then underline on hover only. 
h1,h2,h3,h4,h5,h6 {
	& a {
			text-decoration: none;
			@extend %transition !optional;
		
		&:hover{
			text-decoration: underline;
		}
	}	
}

// keep the measure readable
p{
	max-width: $measure;
}

ul, ol{
//	margin-left: 0;
}







