/*------------------------------------*\
    $NYPL-MEDIAQUERIES
\*------------------------------------*/
/**
 * Redefining mq/breakpoints from /inuit.css/generic/mixins.scss
 */

/*

$tablet-start:			481px;
$lap-start:				601px;
$lap-lg-start:			800px;
$desk-start:     	  	1024px!default;
$desk-wide-start:  		1200px!default;

//from _mixins
$palm-end:              $tablet-start - 1px;
$lap-end:               $desk-start - 1px;

-----------------------------

palm			 480 max
tablet			 481 - 601
tablet-and-up	 481 min

lap				 601 - 1023
lap-and-up		 601 min
lap-lg			 800 - 1023

portable		1023 max
desk			1024 min
desk-wide		1200 min

*/

// Redefining from _mixins.scss
@mixin media-query($media-query){

    @if $media-query == palm{

        @media only screen and (max-width:$palm-end) { @content; }

    }

	// adding tablet breakpoint
	    @if $media-query == tablet{
	
	        @media only screen and (min-width:$tablet-start) and (max-width:$lap-start) { @content; }
	
	    }

		@if $media-query == tablet-and-up{
			
			@media only screen and (min-width:$tablet-start) { @content; }
		}
	// end of additional tablet breakpoint

    @if $media-query == lap{

        @media only screen and (min-width:$lap-start) and (max-width:$lap-end) { @content; }

    }

    @if $media-query == lap-and-up{

        @media only screen and (min-width:$lap-start) { @content; }

    }


	// adding lap-lg breakpoint
	    @if $media-query == lap-lg{
	
	        @media only screen and (min-width:$lap-lg-start) and (max-width:$lap-end) { @content; }
	
	    }
	// end of additional lap-lg breakpoint



    @if $media-query == portable{

        @media only screen and (max-width:$lap-end) { @content; }

    }

    @if $media-query == desk{

        @media only screen and (min-width:$desk-start) { @content; }

    }

    @if $media-query == desk-wide{

        @media only screen and (min-width: $desk-wide-start) { @content; }

    }

}




// Redefining from _widths.scss

@if $responsive == true{

@include media-query(palm){
    @include grid-setup("palm-");
}

// adding tablet grid
@include media-query(tablet){
    @include grid-setup("tablet-");
}

@include media-query(tablet-and-up){
    @include grid-setup("tablet-and-up-");
}
// end tablet grid

@include media-query(lap){
    @include grid-setup("lap-");
}

@include media-query(lap-and-up){
    @include grid-setup("lap-and-up-");
}

// adding lap-lg grid
@include media-query(lap-lg){
    @include grid-setup("lap-lg-");
}
// end lap-lg grid

@include media-query(portable){
    @include grid-setup("portable-");
}

@include media-query(desk){
    @include grid-setup("desk-");
}

@include media-query(desk-wide){
    @include grid-setup("desk-wide-");
}

} /* endif */