/*------------------------------------*\
    $NYPL-HELPERS
\*------------------------------------*/


/**
 * Use this placeholder class as an extend to include NYPL transition time
 */
%transition{
	@include vendor (transition, all, $brand-timing);
} 



/**
 * Some additional classes.
 */
 
// additional font size (to go with classes defined in InuitCSS /base/_headings)
.big{
    @include font-size($big-size);
} 

// gives gray bg color and border to item
.callout{
	@include callout-box(lighten($base-ui-color, 4%), $warmGrayLighter);
}

// more border styles
.border--thin{
	@include vendor(border, 2px solid $warmGray);
	@include vendor(border-radius, $brand-round);
}

// styles for "read more"-type links
.read-more{
//	@extend .btn-natural;

	background: $warmGrayLightest;
	border: 1px solid $warmGrayLighter;
	padding: $half-spacing-unit/2;
	
//	@extend .icon-arrow-right2;
	
	@extend .zeta;
	
/*
	 &:after{
		 
	 }
*/
}

// removes bullet from a list
.nobullet{
	list-style: none;
}

// use instead of floats?
.inline{
	display: inline;
}