
// Sets font paths
// -----------------------
@mixin font-face($fontFamily, $path, $fontFilename) {
  font-family: $fontFamily;
  src: url('#{$path}#{$fontFilename}.eot');
  src: url('#{$path}#{$fontFilename}.eot?#iefix') format('embedded-opentype'),
       url('#{$path}#{$fontFilename}.woff') format('woff'),
       url('#{$path}#{$fontFilename}.ttf') format('truetype'),
       url('#{$path}#{$fontFilename}.svg') format('svg');
}




// Fonts
// -------------------------
@font-face {
  @include font-face('Lato Light', $fontPath, 'Lato-Lig-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Light Italic', $fontPath, 'Lato-LigIta-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Regular', $fontPath, 'Lato-Reg-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Regular Italic', $fontPath, 'Lato-RegIta-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Bold', $fontPath, 'Lato-Bol-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Bold Italic', $fontPath, 'Lato-BolIta-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Black', $fontPath, 'Lato-Bla-webfont');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  @include font-face('Lato Black Italic', $fontPath, 'Lato-BlaIta-webfont');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face($iconFontFamily, $fontPath, 'icomoon');
  font-weight: normal;
  font-style: normal;
}




// Icons
// -------------------------
@mixin nypl-icon($content: "none") {
  @if ( $content != "none") {
    content: "#{$content}";
  }  
  font-family: $iconFontFamily;  
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: baseline;
  background: none;
  margin-top: 0;
  speak: none;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  line-height: 1;
  font-weight: normal;
  font-variant: normal;
}


[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include nypl-icon();
}
[data-icon]:before {
  content: attr(data-icon);
}


[class^="icon-"],
[class*=" icon-"] {
  width: auto;
  height: auto;
  line-height: 1;
  background: none;
}

.icon-cog:before {
	content: "\f013";
}
.icon-cancel-circle:before {
	content: "\e000";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-spinner:before {
	content: "\e003";
}
.icon-checkmark:before {
	content: "\e004";
}
.icon-user:before {
	content: "\e00e";
}
.icon-bookmark:before {
	content: "\e00a";
}
.icon-cloud-upload:before {
	content: "\e00f";
}
.icon-cloud-download:before {
	content: "\e010";
}
.icon-checkbox-checked:before {
	content: "\e011";
}
.icon-home:before {
	content: "\e001";
}
.icon-list:before {
	content: "\e002";
}
.icon-search:before {
	content: "\e005";
}
.icon-book:before {
	content: "\e006";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-untitled:before {
	content: "\72";
}
.icon-untitled-2:before {
	content: "\76";
}
.icon-untitled-3:before {
	content: "\63";
}
.icon-untitled-4:before {
	content: "\66";
}
.icon-untitled-5:before {
	content: "\73";
}
.icon-code:before {
	content: "\65";
}
.icon-untitled-6:before {
	content: "\6b";
}
.icon-untitled-7:before {
	content: "\31";
}
.icon-untitled-8:before {
	content: "\70";
}
.icon-untitled-9:before {
	content: "\39";
}
.icon-untitled-10:before {
	content: "\36";
}
.icon-untitled-11:before {
	content: "\78";
}
.icon-untitled-12:before {
	content: "\2d";
}
.icon-play:before {
	content: "\23";
}
.icon-pause:before {
	content: "\24";
}
.icon-volume-mute:before {
	content: "\26";
}
.icon-volume-medium:before {
	content: "\25";
}
.icon-disk:before {
	content: "\27";
}
.icon-first:before {
	content: "\28";
}
.icon-pencil:before {
	content: "\29";
}
.icon-remove:before {
	content: "\2f";
}
.icon-cog-2:before {
	content: "\2e";
}
.icon-user-2:before {
	content: "\30";
}
.icon-eye:before {
	content: "\32";
}
.icon-untitled-13:before {
	content: "\2b";
}
.icon-search-2:before {
	content: "\6f";
}
.icon-NYPL_mark1_white_rev:before {
	content: "\57";
}
.icon-facebook:before {
	content: "\46";
}
.icon-twitter:before {
	content: "\54";
}
.icon-pinterest:before {
	content: "\50";
}
.icon-untitled-14:before {
	content: "\6c";
}
.icon-untitled-15:before {
	content: "\3e";
}
.icon-NYPL_mark1_black_pos:before {
	content: "\4e";
}
.icon-map:before {
	content: "\62";
}
.icon-untitled-16:before {
	content: "\56";
}
.icon-untitled-17:before {
	content: "\61";
}
.icon-untitled-18:before {
	content: "\64";
}
.icon-camera:before {
	content: "\22";
}
.icon-tag:before {
	content: "\21";
}
.icon-multiple:before {
	content: "\6d";
}
.icon-untitled-19:before {
	content: "\4d";
}
.icon-bullhorn:before {
	content: "\2a";
}
.icon-books:before {
	content: "\2c";
}
.icon-headphones:before {
	content: "\33";
}
.icon-library:before {
	content: "\34";
}
.icon-tags:before {
	content: "\35";
}
.icon-tag-2:before {
	content: "\37";
}
.icon-stack:before {
	content: "\38";
}
.icon-file:before {
	content: "\3a";
}
.icon-ticket:before {
	content: "\3b";
}
.icon-cart:before {
	content: "\3c";
}
.icon-cart-2:before {
	content: "\3d";
}
.icon-phone:before {
	content: "\3f";
}
.icon-notebook:before {
	content: "\40";
}
.icon-pushpin:before {
	content: "\41";
}
.icon-location:before {
	content: "\42";
}
.icon-map-2:before {
	content: "\43";
}
.icon-map-3:before {
	content: "\44";
}
.icon-history:before {
	content: "\45";
}
.icon-clock:before {
	content: "\47";
}
.icon-clock-2:before {
	content: "\48";
}
.icon-alarm:before {
	content: "\49";
}
.icon-alarm-2:before {
	content: "\4a";
}
.icon-calendar:before {
	content: "\4b";
}
.icon-calendar-2:before {
	content: "\4c";
}
.icon-screen:before {
	content: "\4f";
}
.icon-cabinet:before {
	content: "\51";
}
.icon-undo:before {
	content: "\52";
}
.icon-redo:before {
	content: "\53";
}
.icon-bubble:before {
	content: "\55";
}
.icon-bubbles:before {
	content: "\58";
}
.icon-bubbles-2:before {
	content: "\59";
}
.icon-bubble-2:before {
	content: "\5a";
}
.icon-bubbles-3:before {
	content: "\5b";
}
.icon-bubbles-4:before {
	content: "\5c";
}
.icon-user-3:before {
	content: "\5d";
}
.icon-users:before {
	content: "\5e";
}
.icon-user-4:before {
	content: "\5f";
}
.icon-quotes-left:before {
	content: "\60";
}
.icon-busy:before {
	content: "\67";
}
.icon-binoculars:before {
	content: "\68";
}
.icon-search-3:before {
	content: "\69";
}
.icon-zoom-in:before {
	content: "\6a";
}
.icon-zoom-out:before {
	content: "\6e";
}
.icon-expand:before {
	content: "\71";
}
.icon-contract:before {
	content: "\74";
}
.icon-expand-2:before {
	content: "\75";
}
.icon-contract-2:before {
	content: "\77";
}
.icon-key:before {
	content: "\79";
}
.icon-lock:before {
	content: "\7a";
}
.icon-unlocked:before {
	content: "\7b";
}
.icon-lock-2:before {
	content: "\7c";
}
.icon-wrench:before {
	content: "\7d";
}
.icon-cog-3:before {
	content: "\7e";
}
.icon-cogs:before {
	content: "\e007";
}
.icon-cog-4:before {
	content: "\e008";
}
.icon-stats:before {
	content: "\e009";
}
.icon-pie:before {
	content: "\e00b";
}
.icon-bars:before {
	content: "\e00c";
}
.icon-gift:before {
	content: "\e00d";
}
.icon-mug:before {
	content: "\e012";
}
.icon-airplane:before {
	content: "\e013";
}
.icon-truck:before {
	content: "\e014";
}
.icon-lightning:before {
	content: "\e015";
}
.icon-power-cord:before {
	content: "\e016";
}
.icon-list-2:before {
	content: "\e017";
}
.icon-globe:before {
	content: "\e018";
}
.icon-earth:before {
	content: "\e019";
}
.icon-link:before {
	content: "\e01a";
}
.icon-flag:before {
	content: "\e01b";
}
.icon-attachment:before {
	content: "\e01c";
}
.icon-eye-2:before {
	content: "\e01d";
}
.icon-eye-blocked:before {
	content: "\e01e";
}
.icon-bookmark-2:before {
	content: "\e01f";
}
.icon-bookmarks:before {
	content: "\e020";
}
.icon-star:before {
	content: "\e021";
}
.icon-star-2:before {
	content: "\e022";
}
.icon-star-3:before {
	content: "\e023";
}
.icon-heart:before {
	content: "\e024";
}
.icon-heart-2:before {
	content: "\e025";
}
.icon-heart-broken:before {
	content: "\e026";
}
.icon-thumbs-up:before {
	content: "\e027";
}
.icon-thumbs-up-2:before {
	content: "\e028";
}
.icon-info:before {
	content: "\e029";
}
.icon-info-2:before {
	content: "\e02a";
}
.icon-question:before {
	content: "\e02b";
}
.icon-notification:before {
	content: "\e02c";
}
.icon-warning:before {
	content: "\e02d";
}
.icon-cancel-circle-2:before {
	content: "\e02e";
}
.icon-checkmark-circle:before {
	content: "\e02f";
}
.icon-spam:before {
	content: "\e030";
}
.icon-close:before {
	content: "\e031";
}
.icon-checkmark-2:before {
	content: "\e032";
}
.icon-checkmark-3:before {
	content: "\e033";
}
.icon-arrow-up-left:before {
	content: "\e034";
}
.icon-arrow-up:before {
	content: "\e035";
}
.icon-arrow-up-right:before {
	content: "\e036";
}
.icon-arrow-right:before {
	content: "\e037";
}
.icon-arrow-down-right:before {
	content: "\e038";
}
.icon-arrow-down:before {
	content: "\e039";
}
.icon-arrow-down-left:before {
	content: "\e03a";
}
.icon-arrow-up-left-2:before {
	content: "\e03b";
}
.icon-arrow-up-2:before {
	content: "\e03c";
}
.icon-arrow-up-right-2:before {
	content: "\e03d";
}
.icon-arrow-right-2:before {
	content: "\e03e";
}
.icon-arrow-down-right-2:before {
	content: "\e03f";
}
.icon-arrow-down-2:before {
	content: "\e040";
}
.icon-arrow-down-left-2:before {
	content: "\e041";
}
.icon-arrow-left:before {
	content: "\e042";
}
.icon-arrow-up-left-3:before {
	content: "\e043";
}
.icon-arrow-up-3:before {
	content: "\e044";
}
.icon-arrow-up-right-3:before {
	content: "\e045";
}
.icon-arrow-right-3:before {
	content: "\e046";
}
.icon-arrow-down-right-3:before {
	content: "\e047";
}
.icon-arrow-down-3:before {
	content: "\e048";
}
.icon-arrow-down-left-3:before {
	content: "\e049";
}
.icon-arrow-left-2:before {
	content: "\e04a";
}
.icon-scissors:before {
	content: "\e04b";
}
.icon-arrow-left-3:before {
	content: "\e04c";
}
.icon-share:before {
	content: "\e04d";
}
.icon-mail:before {
	content: "\e04e";
}
.icon-mail-2:before {
	content: "\e04f";
}
.icon-mail-3:before {
	content: "\e050";
}
.icon-google-plus:before {
	content: "\e051";
}
.icon-google-drive:before {
	content: "\e052";
}
.icon-facebook-2:before {
	content: "\e053";
}
.icon-twitter-2:before {
	content: "\e054";
}
.icon-feed:before {
	content: "\e055";
}
.icon-feed-2:before {
	content: "\e056";
}
.icon-youtube:before {
	content: "\e057";
}
.icon-youtube-2:before {
	content: "\e058";
}
.icon-vimeo2:before {
	content: "\e059";
}
.icon-flickr:before {
	content: "\e05a";
}
.icon-flickr-2:before {
	content: "\e05b";
}
.icon-picassa:before {
	content: "\e05c";
}
.icon-tumblr:before {
	content: "\e05d";
}
.icon-pinterest-2:before {
	content: "\e05e";
}
