/*------------------------------------*\
    $NYPL-BUTTONS
\*------------------------------------*/
/**
 * This is what our calls-to-action buttons look like.
 * The ".btn" class is extended for form inputs too.
 */

.btn, a.btn{
 	@include button-color($beautons, $white);
	@extend %transition !optional;
	
	color: $white;
	margin: $half-spacing-unit/2;
}

/*
a.btn, a:visited.btn{
	color: $white;
}
*/

button{
	@extend .btn;
}



.btn--inactive {
	background-color: $warmGrayLighter;
	-webkit-transition: none;
	transition: none;
	
	&:hover{
		background-color: $warmGrayLighter;
	}
}



/**
 * These purpose-specific buttons have specific colors and styles.
 */ 

.btn--donate, a.btn--donate {
	@include button-color($red, $white); 
	
	text-transform: uppercase;

}

/**
* The rules for .btn focus are for better accessibility performance.
* The rules override the focus styles from _beautons.scss
* The update is made on June 2018.
*/
.btn {
	&:focus {
		outline: 5px solid $focus-color;
		overflow: visible;
		box-shadow: 1px 1px 2px 2px $focus-color;
	}
}

