/*------------------------------------*\
    $NYPL-BUTTONS
\*------------------------------------*/
/**
 * This is what our calls-to-action buttons look like.
 * The ".btn" class is extended for form inputs too.
 */

.btn{
 	@include button-color($beautons, $white);
	@extend %transition !optional;
	
	color: $white;
	margin: $half-spacing-unit/2;
}

a.btn, a:visited.btn{
	color: $white;
}

button{
	@extend .btn;
}


.btn--inactive {
	background-color: $warmGrayLighter;
	-webkit-transition: none;
	transition: none;
	
	&:hover{
		background-color: $warmGrayLighter;
	}
}


/**
 * These purpose-specific buttons have specific colors and styles.
 */ 

.btn--donate {
	@include button-color($red, $white); 
	
	text-transform: uppercase;

}

