/*------------------------------------*\
    $NYPL-FORMS
\*------------------------------------*/
/**
 * This is what our forms look like.
 */

			/** 			
			* NOTE TO SELF ------------------------------------
			* Bootstrap has some great workarounds for normalizing forms and for bugs.
			* Refer to them if you need help.
			* ------------------------------------------------
			*/ 

/*------------------------------------*\
    FORM ELEMENTS
\*------------------------------------*/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea,
.text-input{
	border: 1px solid $base-ui-color;
	border-radius:$brand-round;
	line-height: 2rem;
	padding: 0 .5rem;
	width: 100%;
	
	&:focus{
		border-color: $blue;
		@include vendor(box-shadow, 0 0 10px $blue);
	}
}

select{
	@extend .text-input;
	border-color: $warmGray;
}

label{
	padding: $half-spacing-unit 0 $half-spacing-unit/2;
	
	//less padding for labels in a .check-list
	.check-list & {
		padding: $half-spacing-unit/4;
		padding-right: $base-spacing-unit;
	}
}

fieldset {
	border: 0;
	padding: 0;
	margin: $half-spacing-unit 0;
} 

/**
 * Adds NYPL button style to button-like inputs 
 */
input[type="submit"],
input[type="button"] {
	@extend .btn;
	line-height: 2rem;
	margin: $half-spacing-unit 0 $half-spacing-unit/2;
	
	&.btn--inactive{
		@include button-color($warmGrayLighter);
		pointer-events: none;
	}
}

input[type="search"]{
	width: 95%;
}


/*------------------------------------*\
    FORM-SPECIFIC CLASSES
\*------------------------------------*/
/**
 * Fixes some positioning on check-lists.
 */
.check-list--inline{
	@extend .check-list;
	li{
		display: inline;
	}
}

/**
 * Feedback styles
 */
form{
	.error{
		color: $red;
		border: 1px solid $red;
		&:focus{
			border-color: $red;
			@include vendor(box-shadow, 0 0 10px $red);
		}
	}
	
	.success{
		color: green;
		border: 1px solid green;
		&:focus{
			border-color: green;
			@include vendor(box-shadow, 0 0 10px green);
		}
	}	
	
	.disabled{
		background-color: lighten($warmGrayLightest, 5%);
		color: $warmGray;
		cursor: not-allowed;
		border: 1px solid $warmGrayLighter ;
	}	
}


/*------------------------------------*\
    ALTERNATE FORMS
\*------------------------------------*/
/**
 * Add the .form-control class 
 * rather than forcing all controls (such as selects)
 * to have the same styles as text inputs.
 */
.form-control{
	@extend .text-input;
	height: 2rem;
}


/**
 * Add .form--inline to the form element 
 * to lay out the elements in a row.
 */
.form--inline{
	@include media-query(lap-and-up){
		*{
			display: inline-block;
			margin-right: $half-spacing-unit;
			width: auto !important;
		}
	}
}

/**
 * Add .form--horiz to the form element 
 * to put the labels to the left of the fields.
 */
.form--horiz{

	*{
		display: inline-block;
	}

/**
 * This allows you to give width classes to label and input elements and override the 100% default width.
 */
	@include grid-setup();
	
	> label{
		@extend .text--right;
		line-height: 2rem;
		padding-right: $half-spacing-unit/2;
	}
}

/**
 * Apply this style to the form or its container for a bgcolor and border.
 */
.callout--form{
	@include callout-box($base-ui-color, lighten($warmGrayLighter, 10%));
} 

