/*------------------------------------*\
    STYLE--HEADER.SCSS
\*------------------------------------*/

/**
 * The NYPL.org global header.
 * 
 * This header goes on ALL web properties 
 * except for those considered experimental in nature.
 * Anything that is a core property
 * (the main site, the archives portal, the Digital Collections portal)
 * gets the header.
 * 
 */
 
 
// hide some stuff on load
.dropDownContent, 
.primary-links,
.btn--donate--global,
.btn--sso--global,
.form--sso, 
.menu--sso,
.search--global,
.classic-catalog{
	display: none;
}

// show stuff
.open{
	display: block;
}

// set relative positioning
.header--global{
	position: relative;
}

// set absolute positioning		 
.logo--global,
.btn--nav--global,
.btn--search--global,
.form--sso{
	position: absolute;
}





/** 
 * Logo
 */
.logo--global{
	@extend .kilo;
	
	color: $white;
	
	// positioning
	left: 0;
	margin: -.7rem 0 0 -1.5rem;
	
	@include media-query(tablet-and-up){
		background: url("../img/main-logo.png") top left no-repeat;
		color: transparent;
		width: 202px;
		height: 118px;
	}
}

.buttons--mobile{
	background-color: $black;
	color: $white;
	margin: 0 auto;
	
	@extend .alpha;
	
	width: 100%;
	height: $base-spacing-unit*2;
	
	.logo--global{
		color: $white;
	}

	@include media-query(tablet-and-up){
		display: none;
	}
}

.logo--global,
.btn--nav--global,
.btn--search--global{
	top: $half-spacing-unit/3;
	
	&.active{
		background-color: $white;
		color: $black;
	}
}

.btn--nav--global{
	right: 0rem;
}
.btn--search--global{
	right: 3rem;
}

/**
 * The Global Nav
 */
.primary-links{
	ul{
		margin:0;
	}
	
	li{

		@extend .nobullet;
		padding: .5rem 1rem;

		&.active{
			background: $red;
			a{
				color: $white;
			}
		}
	}
	
	a{
 		text-decoration: none; 
	}
	
	@include media-query(tablet-and-up){
		background-color: $black;
		display: block;
		width: 100%;
		
		// positioning
		position: absolute;
		top: 130px;

		li{
 			display: inline; 
			
			a {
				color: $white;
			}
		}
	}
}

/**
 * SSO login, Donate button
 */

.form--sso{
	top: 3rem;
}

.login-helptext{
	@extend .smallprint;
	@extend .float--right;
	
	margin-top: -2rem;
	
	a{
		display: block;
	}
	
}

.btn--sso--global,
.btn--donate--global{
	padding: .5rem 1rem;
	text-decoration: none;
	
	@include media-query(tablet-and-up){
		display: block;
		
		// positioning
		position: absolute;
		top: 0;
		right: 0;
	}
}
.btn--sso--global{
	
	// positioning
	right: 200px;
}



/**
 * Search box
 */

.search--global{
	width: 350px;
	
	@include media-query(tablet-and-up){
		display: block;
		
		// positioning
		position: absolute;
		top: 3rem;
		right: 0;
	}
}

.pseudo-select{
	ul{
		margin: 0;
	}
}

.search-the-catalog,
.search-the-site{
	@extend .gamma;
	
	color: $white;
	text-align: center;
	width: 120px;
	
	@include media-query(tablet-and-up){
		width: auto;
	}

	input{
		display: none;
		
		@include media-query(tablet-and-up){
			display: inline;
		}
	}
}

.search-the-catalog{
	background-color: $blueDarker;
	float: left;
	
	@include media-query(tablet-and-up){
		background-color: transparent;
		color: $black;
		clear: both;
	}
}

.search-the-site{
	background-color: $blue;
	float: right;

	@include media-query(tablet-and-up){
		background-color: transparent;
		color: $black;
		clear: both;
	}	
}



