/*------------------------------------*\
    STYLE--HEADER.SCSS
\*------------------------------------*/

/**
 * The NYPL.org global header.
 * 
 * This header goes on ALL web properties 
 * except for those considered experimental in nature.
 * Anything that is a core property
 * (the main site, the archives portal, the Digital Collections portal)
 * gets the header.
 * 
 */
 



// set some relative positioning
.header--global,
.header--global__top{
	position: relative;
}

// set some absolute positioning		 
.logo--global,
.btn--nav--global,
.btn--search--global,
.form--sso{
	position: absolute;
}

// hide some stuff on load
.header__login-donate,
.primary-links,
.form--sso, 
.menu--sso,
.search--global,
.classic-catalog{
 	display: none; 
}

// show stuff
.open{
	display: block;
}



/**
 * Elements of the header
 */
 
.header--global__top{
	margin: 0 auto;
	max-width: 960px;
}
 
.buttons--mobile{
	background-color: $black;
	color: $white;
	margin: 0 auto;
	
	@extend .alpha;
	
	width: 100%;
	height: $base-spacing-unit*2;
	
	.logo--global{
		color: $white;
	}

	@include media-query(tablet-and-up){
		display: none;
	}
}

.logo--global,
.btn--nav--global,
.btn--search--global{
	height: inherit;
	
	// positioning
	top: 0;
	
	&.active{
		background-color: $white;
		color: $black;
	}
}

.btn--nav--global{
	right: 0rem;
}
.btn--search--global{
	right: 3rem;
}


/** 
 * Logo
 */
.logo--global{
	@extend .kilo;
	color: $white;
	
	&:visited{
		color: $white;
	}
	
	// positioning
	left: 0;
	margin: -3.5rem 0 0 -1.5rem;
	
	@include media-query(tablet-and-up){
		background: url("../img/main-logo.png") top left no-repeat;
		color: transparent;
		margin: 0;
		
		width: 202px;
		height: 118px;
		
		&::before{
			display: none;
		}
	}
}


/**
 * The Global Nav
 */
.primary-links{
	z-index: 1001;
	
	ul{
		margin:0;
		
	@include media-query(tablet-and-up){
		height: 2rem;
		line-height: 2rem;
	}
	}
	
	li{

		@extend .nobullet;
		padding: .5rem 1rem;

		&.active, &:hover{
			background: $white;
			a{
				color: $black;
			}
		}
	}
	
	a{
 		text-decoration: none; 
	}
	
	@include media-query(tablet-and-up){
		background-color: $black;
		display: block;
		width: 100%;
		
		// positioning
		position: absolute;
		top: 130px;
	
		li{
				display: inline; 
		}
		
		a {
			color: $white;
		}
	}
}

.primary-links__container{
	@include media-query(tablet-and-up){
		text-align: center;
	}
}
.dropDown{
	// positioning
	position: relative;
	
	&:hover [class^="dropDownContent"],
	&:hover [class*="dropDownContent"]{
		@include media-query(tablet-and-up){
			left: 0;	
		}
	}
}

[class^="dropDownContent"],
[class*="dropDownContent"]{
	text-align: left;
	
	
	// positioning
	position:absolute;
    left:-9999px;
    
    > ul > li{
		float: left;    
    }
    
    li{
	    @include media-query(tablet-and-up){
		    display: list-item;
	    }
    }
	
	a{
		color: $black;
	}
	
	h5{
		@extend .zeta;
		color: $red;
		margin-bottom: .5rem;
		text-transform: uppercase;
	}
}

// each dropDownContent needs width
.dropDownContent__mynypl{
	width: 500px;
}
.dropDownContent__explore{
	width: 600px;
}
.dropDownContent__research{
	width: 790px;
}
.dropDownContent__using{
	width: 690px;
}
.dropDownContent__locations{
	width: 300px;
}
.dropDownContent__events{
	width: 200px;
}
.dropDownContent__support{
	width: 300px;
}

.dropDownContent__locations,
.dropDownContent__events,
.dropDownContent__support{
	li{
		clear: both;
	}
}

/**
 * SSO login elements, Donate button
 */

.header__login-donate{

	// positioning
	position: absolute;
	top: 330px;
	right: 0;
	
	@include media-query(tablet-and-up){
		display: block;
		top: 0;
		right: 0;
	}
}

.btn--sso--global,
.btn--donate--global{
	padding: .5rem 1rem;
	text-decoration: none;	
}


.form--sso{
	top: 3rem;
	z-index: 2001;

	@include media-query(tablet-and-up){
		width: 350px;
		
		// positioning
		top: 2.5rem;
		right: 6.5rem;
	}
}

.login-helptext{
	@extend .smallprint;
	@extend .float--right;
	
	margin-top: -2rem;
	
	a{
		display: block;
	}
}


/**
 * Search box
 */

.search--global{
	width: 350px;
	
	@include media-query(tablet-and-up){
		display: block;
		
		// positioning
		position: absolute;
		top: 3rem;
		right: 0;
		
		form{
			background: $warmGrayLightest;
			padding: $half-spacing-unit/4;
		}
	}
}


.pseudo-select{
	@include media-query(tablet-and-up){
		display: none;
	
		background-color: $white;
	}
	
	ul{
		list-style: none;
		margin: 0;
	}
}


.search-the-catalog{
	background-color: $blueDarker;
	float: left;
}

.search-the-site{
	background-color: $blue;
	float: right;
}

.search-the-catalog,
.search-the-site{
	@extend .gamma;
	
	color: $white;
	text-align: center;
	width: 120px;
	
	@include media-query(tablet-and-up){
		background-color: $white;
		color: $black;
		font-size: 1rem;
		float: none;
		text-align: left;
		width: auto;
	}

	input{
		display: none;
		
		@include media-query(tablet-and-up){
			display: inline;
		}
	}
}

.form-text{
}

.search_button{
	@include media-query(tablet-and-up){
		background-color: $warmGrayDarkest;
		display: block;
		font-size: 1rem;
		width: 25px;
		height: 25px;
		
		&::before{
			margin: 0;
		}
		
		// positioning
		position: absolute;
		top: 6px;
		right: 4px;
	}
}

.classic-catalog{
	@include media-query(tablet-and-up){
		display: inline;
		font-size: .8rem;
		
		// positioning
		position: absolute;
		bottom: -1.5rem;
		right: 0;
	}
}

