/*------------------------------------*\
    $NYPL-ICONS
\*------------------------------------*/
/**
 * These are classes that affect how icons are displayed with 
 * their originating elements.
 */
 


// increase the size of an element's icon by 125% 
.icon--increase{
	vertical-align: middle;
	&:before{
		font-size: 1.25em;
	}
}



/* BELOW: EXPERIMENTAL 
 * icon size/color combos 
 * (these work but are not super DRY...)
 */
 
// First set some display settings to extend...
%icon-size-settings{
	display: block;
	text-align: center;
}

// ...then set all the icon size classes.
.icon-size-alpha{
	&:before{
		@extend .alpha;
		@extend %icon-size-settings
	}
}

.icon-size-beta{
	&:before{
		@extend .beta;
		@extend %icon-size-settings
	}
}

.icon-size-kilo{
	&:before{
		@extend .kilo;
		@extend %icon-size-settings;
	}
}

.icon-color-blue{
	&:before{
		color: $blue;
	}
}