/*------------------------------------*\
    $NYPL-DESIGN-PATTERNS
\*------------------------------------*/
/**
 * These are the "chunks" (ref: @karenmcgrane and her "content chunks")  
 * of content that cascade down the page in tiers.
 *
 */
		/** NOTE TO SELF -----------------------------------------
		 * Probably these should be broken up into 
		 * smaller partials by type of pattern
		 * ----------------------------------------------------
		 */ 
 
		/** NOTE TO SELF -----------------------------------------
		 * ANY CLASSES THAT REFER TO SECTION-SPECIFIC PATTERNS
		 * (like something used specifically in /support, OR for events, etc.)
		 * SHOULD GO INTO A PARTIAL 
		 * (EX. /nyplbase/gui/_events.scss
		 * ----------------------------------------------------
		 */ 



// make containers positions relative
.primary,
.secondary,
.tertiary,
.related,
.chunk{
	position: relative;
}


/*------------------------------------*\
    Chunks are contained by SECTIONS
\*------------------------------------*/

		/**-------NOTE TO SELF-----------------
		 * is incorporating the RWD width classes a good idea?
		 * for example: 
		   
		   .secondary > .chunk{
		   		@extend .desk-one-half	
		   }
		   
		 * ?
		 */



.primary,
.secondary,
.tertiary{
	// bc these sections contain grid__items...
	@extend .grid;
	
	// fix alignment from body.grid--center
	display: inline-block;
	text-align: left;
	
	// prevent content from stretching to 100% available width
	max-width: $desk-start;
	
}

.primary{
	h1, h2{
		// normalize heds on palm no matter what font class is applied
		@include media-query(palm){
			font-size: 1.5em;
		}
	}
}


/**
 * Some sections of content need a category/tag as a heading above them.
 * These will appear most often above secondary and tertiary tiers.
 */
.hdg{
	@extend .zeta;
	border-bottom: 1px solid $warmGrayLightest;
    color: $blue;
    display: block;
    margin-bottom: .5rem;
    text-transform: uppercase;
    width: 100%;
}





/*------------------------------------*\
    Chunks that are CHUNKS
\*------------------------------------*/
/**
 * Chunks of content; this is given to EVERY chunk.
 */
.chunk{
	@extend .grid__item;
	
	// nice bottom margin
	margin-bottom: $base-spacing-unit*2;
	
	// positioning
	position: relative;
	
	// no left padding on heds on palm context
	@include headings(){
		@include media-query(palm){
			padding-left: 0;
		}
		
	}
	
	img {
		// imgs automatically get the outline
		@extend .img--outline;
		// but no left padding as a grid__item
		padding-left: 0;
	}
}



/**
 * Chunks of text that has a large icon illustrating it.
 */
.chunk--icon{
	
}




/*------------------------------------*\
    Chunks that are LISTS
\*------------------------------------*/
/** 
 * Extending "block-list" Inuit object for chunks that are lists.
 */
.chunk__list{
	@extend .chunk;
	@extend .block-list;
	
	//adapt border styles inherited from .block-list style
	border-top-width: 0;
	
	& .first {
		border-top-width: 1px;
	}
	& .last {
		border-bottom-width: 0;
	}
	
	// remove left padding on each item
	li{
		padding-left: 0;
	}
}

/** 
 * or if the list items have icons...
 */
.chunk__list--icon{
	// extends everything from a regular list
	@extend .chunk__list;
	
	// position the icon so it lines up right
	// NOTE TO SELF: ADD CODE FOR DATA-ICON TOO
	& li:before,
	& a:before{
		margin:0 .35em 0 -1.35em;		
	}
	& li {
		padding-left: 1.5rem;	
	}
	
}

/**
 * or slightly larger images.
 * 
 * (extend the .media object stuff here?)
 *
 */
.chunk__list--images{
	.media__img{
		@include media-query (palm){
			display: none;			
		}
	}
}





/*------------------------------------*\
    Chunks that are CONTEXT-SPECIAL
\*------------------------------------*/
/** 
 * Some of these styles may need to move to their own partials
 * in the /gui directory.
 */

.feature-brick{ 
	@extend .cf;
		
	// gentle border and shadow
	@include callout-box(transparent, $warmGrayLightest);
	box-shadow: 0px 6px 6px -3px $warmGrayLightest;
	
	.hdg{
		// turn off the bottom border on the .hdg style
		border-width: 0;
	}
	
	img{
		margin-bottom: $half-spacing-unit;
	}
	
	&:hover .rec__annotation{
		// shows annotation on hover
		left: 0;
	}
}


.chunk__hero-container{
	@include media-query(lap-and-up){
		width: 70%;
		background: rgba($white, .8);
		padding: $half-spacing-unit $base-spacing-unit;
		
		//positioning
		position: absolute;
		bottom: 0px;
	}

}











/**
 * Recommendations demo
 */

.rec{
	// grid width settings
	@extend .one-whole;
	@extend .lap-lg-one-half;
	@extend .desk-one-third;
}

.cover{

	// grid width settings
	@extend .grid__item;
	@extend .one-half;
	@extend .tablet-and-up-one-third;
	@extend .desk-one-whole;

	@extend .hard--left; /* ADD IN BASE TO IMG BY DEFAULT? -jA */
	@extend .float--left;
	
	margin: 0 $half-spacing-unit $half-spacing-unit 0;
}

.tagged{
	@include callout-box(rgba($blue, .25), transparent);
	
	display: inline-block;
	margin: 0 $half-spacing-unit/3 $half-spacing-unit/3 0;
	padding: 0 $half-spacing-unit/3;
	
	&:hover{
		border-color: $blue;
		color: $blue;
		
		@extend %transition;
	}
	
	a{
		text-decoration: none;
		color: inherit;
	}
	
	&.current{
		background-color: rgba($blue, .1);
	}
}


/** 
 * Blogs demo
 */
// reduce width of blog post to the measure
.blog{
	max-width: $measure;
}

.blog__header{
	background-color: #111;
	background-image: url("../prototypes/img/nypl-header-mobile.png");
	
	@include media-query(lap-and-up){
		background-image: url("../prototypes/img/nypl-header-short.png");
		background-size: contain; 
	}
	
	background-repeat: no-repeat;
	background-position: top center;
	height: 50px;
	margin-bottom: $base-spacing-unit*2;
	
	img{
		display: inline !important;
	}
}

.blog__title{
	@extend .text--center;
	
	color: $green;
	font-family: $blog-font-family--display;
	text-shadow: 2px 2px 1px $warmGrayLightest;
	
	@include media-query(lap-and-up){
		@include font-size(50px);
	}
}
.blog__about{	
	font-style: italic;
	margin-bottom: $base-spacing-unit;
}

.blog__tags{
	margin: $base-spacing-unit 0;	
}

.blog__img{
	position: relative	
}

.blog__img--pinterest{
	color: $white;
	
	// positioning
	position: absolute;
	bottom: 24px;
	left: 0;
}

.blog p{
	@include font-size(18px);
	
	font-family: $blog-font-family;
	line-height: 2rem;
	
	// positioning
	position: relative;
	
	&:hover .comment__button{
		left: -60px;
	}
}

// social media buttons block
.share{
	@extend .gamma;
	@extend .text--center;
		
	li{
		list-style-type: none;
		
		a{
			color: $blue;
			
			&:hover{
				color: darken($blue, 10%);
			}
		}
	}
	
	@include media-query(desk){
		@include font-size(28px);
		line-height: 1.3;
		
		// positioning 
		position: fixed;
		right: 1%;
		
		li{
			display: list-item;	
		}
	}
}

// comments
.comment{
	background-color: rgba($blue, .15);
	border-radius: $brand-round;
	padding: $half-spacing-unit/2;
	width: 150px;
	
	// positioning
	position: absolute;
	left: -170px;
	
	&.show{
		left: -160px;
	}

}

.comment__button{
	color: $warmGrayLightest;
	
	// positioning
	position: absolute;
	left: -9999px;
	
	&:hover{
		color: rgba($blue, .5);
	}

}

.comment__comment{
	resize: none;
	height: 200px;
}