 /*------------------------------------*\
    $NYPL-DESIGN-PATTERNS
\*------------------------------------*/
/**
 * These are the "chunks" (ref: @karenmcgrane and her "content chunks")  
 * of content that cascade down the page in tiers.
 *
 */

 
		/** NOTE TO SELF -----------------------------------------
		 * ANY CLASSES THAT REFER TO SECTION-SPECIFIC PATTERNS
		 * (like something used specifically in /support, OR for events, etc.)
		 * SHOULD GO INTO A PARTIAL 
		 * (EX. /nyplbase/gui/_events.scss
		 * ----------------------------------------------------
		 */ 



// make containers positions relative
.primary,
.secondary,
.tertiary,
.related,
.chunk{
	position: relative;
}


/*------------------------------------*\
    Chunks are contained by SECTIONS
\*------------------------------------*/

		/**-------NOTE TO SELF-----------------
		 * is incorporating the RWD width classes a good idea?
		 * for example: 
		   
		   .secondary > .chunk{
		   		@extend .desk-one-half	
		   }
		   
		 * ?
		 */



.primary,
.secondary,
.tertiary{
	// bc these sections contain grid__items...
	@extend .grid;
	
	// fix alignment from body.grid--center
	display: inline-block;
	text-align: left;
	width: 100%;

	// prevent content from stretching to 100% available width
	max-width: $desk-start;
	
	
}


/**
 * Some sections of content need a category/tag as a heading above them.
 * These will appear most often above secondary and tertiary tiers.
 */
.hdg{
	@extend .zeta;
	border-bottom: 1px solid $warmGrayLightest;
    color: #135772;
    display: block;
    letter-spacing: .05rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    width: 100%;
}





/*------------------------------------*\
    Chunks that are CHUNKS
\*------------------------------------*/
/**
 * Chunks of content; this is given to EVERY chunk.
 */
.chunk{
	@extend .grid__item;
	
	// nice bottom margin
	margin-bottom: $base-spacing-unit*1.5;
	
	// positioning
	position: relative;
	
	// no left padding on heds on palm context
	@include headings(){
		@include media-query(palm){
			padding-left: 0;
		}
		
	}
	
	img{
		// imgs automatically get the outline
		@extend .img--outline;
		// but no left padding as a grid__item
		padding-left: 0;
	}
	
	p{
		// grafs are gray
		color: #54514a;
	}
	

}








/*------------------------------------*\
    Chunks that are LISTS
\*------------------------------------*/
/** 
 * Extending "block-list" Inuit object for chunks that are lists.
 */
.chunk__list{
	@extend .chunk;
	@extend .block-list;
	
	//adapt border styles inherited from .block-list style
	border-top-width: 0;
	
	& .first {
		border-top-width: 1px;
	}
	& .last {
		border-bottom-width: 0;
	}
	
	// remove left padding on each item
	li{
		padding-left: 0;
	}
}

/** 
 * or if the list items have icons...
 */
.chunk__list--icon{
	// extends everything from a regular list
	@extend .chunk__list;
	
	// position the icon so it lines up right
	// NOTE TO SELF: ADD CODE FOR DATA-ICON TOO
	& li:before,
	& a:before{
		margin:0 .35em 0 -1.35em;		
	}
	& li {
		padding-left: 1.5rem;	
	}
	
}

/**
 * or slightly larger images.
 * 
 * (extend the .media object stuff here?)
 *
 */
.chunk__list--images{
	.media__img{
		@include media-query (palm){
			display: none;			
		}
	}
}





/*------------------------------------*\
    Chunks that are CONTEXT-SPECIAL
\*------------------------------------*/
/** 
 * Some of these styles may need to move to their own partials
 * in the /gui directory.
 */

.feature-brick{ 
	@extend .cf;
		
	// gentle border and shadow
	@include callout-box(transparent, $warmGrayLightest);
	box-shadow: 0px 6px 6px -3px $warmGrayLightest;
	
	.hdg{
		// turn off the bottom border on the .hdg style
		border-width: 0;
	}
	
	img{
		margin-bottom: $half-spacing-unit;
	}
	
	&:hover .rec__annotation{
		// shows annotation on hover
		left: 0;
	}
}


.chunk__hero-container{
	@include media-query(lap-and-up){
		width: 70%;
		background: rgba($white, .8);
		padding: $half-spacing-unit $base-spacing-unit;
		
		//positioning
		position: absolute;
		bottom: 0px;
	}

}





/**
 * Specific object styling
 */
 
//styles for contextual/targeted appeals
.appeal{
	@include callout-box(#ffffff, $warmGrayLighter);
	
	border-width: 3px;
	border-style: double;
	text-align: center;
	
	p{
		@extend .beta;
	}
}

// styles for "read more"-type links
.read-more{
	@extend .zeta;
//	@include extend-icon(icon-arrow-right2, $blue);
	@extend %transition !optional;
	@include button-color(lighten($blue, 50%), $blue);
	
	display: inline-block;
	padding: 0 $half-spacing-unit/2;
	text-decoration: none;
	
	&:hover{
		border: 1px solid lighten($blue, 50%);
		background: $white;
		color: $blue;
	}
	
	&::after{
		@include nypl-icon();
		content: "\e72c";
		margin-left: .35rem;
		vertical-align: middle;
	}
} 



/**
 * AskNYPL
 */
.asknypl{
	color: #5e564b;
	text-align: center;

	
	[data-icon]:before, [class^="icon-"]:before, [class*=" icon-"]:before {
		vertical-align: baseline;
	}
	
	.asknypl__items{
		list-style-type: none;
		margin: 1.5rem 0 1.5rem 2rem;
		
		li{
			margin-bottom: $half-spacing-unit;
			margin-bottom: 1.5rem;
		}
	}
	
	.askchat,.askemail{
		@extend .gamma;
		@include button-color(#ece94c, #5e564b);
		
		border-radius: $brand-round;
		padding: 6px;		
		text-decoration: none;
		
		&:hover{
			background-color: lighten(#ece94c, 20%);
			color: #5e564b;
		}
	}
}
