/**
 * Recommendations demo
 */

.rec{
	// grid width settings
	@extend .one-whole;
	@extend .lap-lg-one-half;
	@extend .desk-one-third;
	
	.title{
		margin-bottom: 0;
	}
}

.cover{

	// grid width settings
	@extend .grid__item;
	@extend .one-half;
	@extend .tablet-and-up-one-third;
	@extend .desk-one-whole;

	@extend .hard--left; /* ADD IN BASE TO IMG BY DEFAULT? -jA */
	@extend .float--left;
	
	margin: 0 $half-spacing-unit $half-spacing-unit 0;
}

.author{
	@extend .zeta;
	
	margin-bottom: $half-spacing-unit;
}

.tagged{
	@include callout-box(lighten($blue, 50%), transparent);
	@extend %transition;
	
	display: inline-block;
	margin: 0 $half-spacing-unit/3 $half-spacing-unit/3 0;
	padding: 0 $half-spacing-unit/3;
	
	&:hover{
		background-color: $blue;
		border-color: $blue;
		color: $white;
	}
	
	a{
		text-decoration: none;
		color: inherit;
	}
	
	&.current{
		background-color: lighten($blue, 40%);
	}
}

