@if $use-locations == true{

/*------------------------------------*\
    $LOCATIONS
\*------------------------------------*/
/**
 * NYPL.ORG-SPECIFIC
 
 * Locations section custom styles.
 */
 
 
.form--locinator{
	@extend .beta;
	
	input{
		line-height: 1.5rem;
		height: 3rem;
	}
}
 
.filters__check{
	@include media-query(lap-and-up){
		font-size: 1.5rem;
	}
}
 
 

 
 
}//endif