$nyplfont: "Kievit", "Myriad Pro", "Lucida Grande", "Calibri", verdana, arial, helvetica, sans-serif;
$freight: "freight-sans-pro","Myriad Pro","Myriad",sans-serif;
$didot: "Didot W01 Roman", "Didot", "Times New Roman", serif;
$georgia: "Georgia", "Times New Roman", serif;
$mono: "Inconsolata", Monaco, "Courier New", Courier, monospace;
$brightonLight: 'Brighton W01 Light', Georgia, serif;
$brightonBold: 'Brighton W01 Bold', Georgia, serif;

$textfont: Helvetica, $georgia;
$titlefont: Helvetica, $freight;

$baseline: 18px;
$fontsize: 16px;
$fontsizesmall: $fontsize*0.8125;

$white: #fff;
$extralightgrey: #ececec;
$lightgrey: #ccc;
$mediumgrey: #666;
$darkgrey: #333;
$black: #000;
$lightgreen: #B6B986;
$darkgreen: #767B3A;
$green: #8F9445;
$darkred: #900;

$alert: $darkred;
$navhighlightcolor: $darkgrey;
$mainlinkcolor: $darkred;