@import "fonts-colors";
$blackborder: 1px solid $black;
$lightgreyborder: 1px solid $lightgrey;
$darkgreyborder: 1px solid $darkgrey;
$greenborder: 1px solid $green;
$darkgreenborder: 1px solid $darkgreen;


@mixin bottomarrow($color:#ccc, $size:15px) {
	position: relative;
	background: $color;
	&:after {
		top: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: transparent;
		border-top-color: $color;
		border-width: $size;
		left: 50%;
		margin-left: -$size;
	}
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin fullborder($color:#000,$thick:1px,$type:solid) {
	border: $thick $type $color;
}

@mixin doubleborder($color:$lightgrey) {
	border: 3px double $color;
}

@mixin greenbutton {
	font: 14px $georgia;
	border: 2px solid;
	color: $white;  
	background-color: $green;
	border-color: $lightgreen $darkgreen $darkgreen $lightgreen;
}

@mixin greenbutton-with-border {
	@include greenbutton;
	display: inline-block;
	position: relative;
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 3px;
		left: 3px;
		right: 3px;
		bottom: 3px;
		@include fullborder($white);
	}
}

@mixin gridbackground {
	background-image: asset-url('baseline_grid.png', image), asset-url('column.png', image), asset-url('layout_grid.gif', image);
}

@mixin imgbackground($url,$x:0,$y:0,$color:transparent,$repeat:no-repeat) {
	background: asset_data_url($url) $x $y $repeat $color;
}

@mixin spritebackground($x,$y,$color:transparent) {
	background: $sprites $x $y no-repeat $color;
}

@mixin bigsquiggle($x:0,$y:0) {
	@include imgbackground('squigglebig.png',$x,$y);
}

@mixin medsquiggle($x:0,$y:0) {
	@include imgbackground('squigglemed.png',$x,$y);
}

@mixin smlsquiggle($x:0,$y:0) {
	@include imgbackground('squigglesml.png',$x,$y);
}

@mixin textprops($size,$lineheight,$font:$georgia) {
	font: $size $font;
	line-height: $lineheight;
	margin-bottom: $lineheight;
}

@mixin thumbbase {
	position: relative;
	display: block;
	border: 1px solid $green;
	width: 108px;
	height: 108px;
	overflow: hidden;
	background-color: $lightgrey;
	&:hover {
		border: 1px solid $darkgreen;
	}
	img {
		position: absolute;
	}
}

@mixin thumb($type:1) {
	@include thumbbase;
	img {
		@if $type == 1 {
			top: -20px;
			left: -10px;
		} @else if $type == 2 {
			top: -10px;
			left: -20px;
		} @else if $type == 3 {
			top: 0px;
			left: 0px;
		} @else if $type == 4 {
			top: 0px;
			left: 0px;
		}
		@include transition-property("top,left");
		@include transition-duration(0.5s);
		@include transition-timing-function(ease-out);
		&:hover {
			@if $type == 1 {
				top: -20px;
				left: -190px;
			} @else if $type == 2 {
				top: -190px;
				left: -20px;
			} @else if $type == 3 {
				top: -190px;
				left: -190px;
			} @else if $type == 4 {
				top: 0px;
				left: 0px;
			}
		}
	}
}

@mixin hidetext {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin marginnedblock($finalwidth:auto,$marginleft:0,$marginright:0,$paddingleft:0,$paddingright:0) {
	$w: if($finalwidth!=auto,$finalwidth - $paddingleft - $paddingright,auto);
	margin-left: $marginleft;
	margin-right: $marginright;
	padding-left: $paddingleft;
	padding-right: $paddingright;
	width: $w;
}

@mixin brandcompact {
	float: left;
	width: 240px;
	.est {
	  display: none;
	}
	.nypl-labs, .wotm {
	  display: block;
	  width: 240px;
	}
	.nypl-labs {
	  font-size: 12px;
	  @include smlsquiggle(70px,7px);
	  margin-top: 5px;
	  padding-top: 5px;
	}
	.wotm {
	  font-size: 24px;
	  margin-right: 0;
	}
}
