/*------------------------------------*\
    $COLORLABELS
\*------------------------------------*/
/**
 *	 These are classes you can use to add specific background-colors and text colors, if needed.
 * 	 Special circumstances only! Don't mess with the branding choices!
 */


.white {background-color: $white !important;}
.black {background-color: $black !important;}

	.whiteText {color: $white !important;}
	.blackText {color: $black !important;}
	
	
// Primary palette colors
// -------------------------
.red {background-color: $red !important;}
.blue {background-color: $blue !important;}

	.redText {color: $red !important;}
	.blueText {color: $blue !important;}


// Secondary palette colors
// -------------------------
.orange {background-color: $orange !important;}
.green {background-color: $green !important;}
.purple {background-color: $purple !important;}

	.orangeText {color: $orange !important;}
	.greenText {color: $green !important;}
	.purpleText {color: $purple !important;}

.salmon {background-color: $salmon !important;}
	.salmonText {color: $salmon !important;}

.yellowLight {background-color: $yellowLight !important;}
	.yellowLightText {color: $yellowLight !important;}

.greenLight{background-color: $greenLight !important;}
	.greenLightText {color: $greenLight !important;}

.blueLight {background-color: $blueLight !important;}
	.blueLightText {color: $blueLight !important;}

.purpleLight {background-color: $purpleLight !important;}
	.purpleLightText {color: $purpleLight !important;}

.blueDarker {background-color: $blueDarker !important;}
	.blueDarkerText {color: $blueDarker !important;}

.indigo {background-color: $indigo !important;}
	.indigoText {color: $indigo !important;}


// Warm grays
// -------------------------
.warmGrayDarkest {background-color: $warmGrayDarkest !important;}
.warmGrayDarker {background-color: $warmGrayDarker !important;}
.warmGray {background-color: $warmGray !important;}
.warmGrayLighter {background-color: $warmGrayLighter !important;}
.warmGrayLightest {background-color: $warmGrayLightest !important;}

	.warmGrayDarkestText {color: $warmGrayDarkest !important;}
	.warmGrayDarkerText {color: $warmGrayDarker !important;}
	.warmGrayText {color: $warmGray !important;}
	.warmGrayLighterText {color: $warmGrayLighter !important;}
	.warmGrayLightestText {color: $warmGrayLightest !important;}