@if $use-styleguide == true{

/*------------------------------------*\
    $STYLEGUIDE.SCSS
\*------------------------------------*/
/**
 * These are some overrides to make the style guide look right;
 * for example, the styling on the color examples 
 */
 
/* style code examples */ 
.code, .code.prettyprint {
	padding: 12px;
	border: 1px solid #d0cdc8;
	background: #e8e4e2;
}

/* style notes to myself */
pre {
	width: 80%;
	white-space: normal;
}

/* style notes for discussion with the unicorns */
.unicorns {
	background: yellow;
}

/* style for colors demo section */
.color-block {
	padding: 5px;
	margin-right: 6px;
	margin-bottom: 24px;
	display: inline-block;
	font-size: 16px;
}

/* style for icons demo section */
p[data-icon]:before,
p[class^="icon-"]:before,
p[class*=" icon-"]:before {
	padding-right: 5px;
}

/* separator on design patterns demo page */
.category {
    width: 100%;
    display: block;
    color: #0090c4;
    text-transform: uppercase;
    font-size: .9rem;
}

}//endif 
